<div id="<%= dom_id quest %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= quest.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Status:</strong>
    <%= quest.status? ? "Yes" : "No" %>
  </div>
</div>
