<% content_for :title, "Showing quest" %>

<div class="md:w-2/3 w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <h1 class="font-bold text-4xl">Showing quest</h1>

  <%= render partial: "quest", locals: { quest: @quest } %>

  <%= link_to "â† Back to Quests", quests_path, class: "btn btn-outline btn-primary" %>
  <%= button_to "Destroy this quest", @quest, method: :delete, form_class: "sm:inline-block mt-2 sm:mt-0 sm:ml-2", class: "w-full rounded-md px-3.5 py-2.5 text-white bg-red-600 hover:bg-red-500 font-medium cursor-pointer", data: { turbo_confirm: "Are you sure?" } %>
</div>
